BasedOnStyle: LLVM
SpacesInCStyleCastParentheses: false
TabWidth: 4
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
Cpp11BracedListStyle: true
AccessModifierOffset: 0
SpaceAfterCStyleCast: true
ColumnLimit: 100
CompactNamespaces: false
AlwaysBreakTemplateDeclarations: No
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: false
#ForEachMacros: ["rep", "inc", "dec", "each"]
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentWrappedFunctionNames: true
Language: Cpp
NamespaceIndentation: All
SortIncludes: true
SortUsingDeclarations: false